{% extends 'base.html' %} {% block content %}

<div class="bg-white">
  <div class="flex justify-center h-screen">
    <div
      class="hidden bg-cover lg:block lg:w-2/3"
      style="
        background-image: url(https://images.unsplash.com/photo-1604881989793-466aca8dd319?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);"
    >
      <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
        <div>
          <h2 class="text-4xl font-bold text-white">Chatapp-demo</h2>

          <p class="max-w-xl mt-3 text-white underline">
            This is a demo chatting app, you can chat to anyone who is registered in the site. 
            To try it please register a dummy account.
          </p>
        </div>
      </div>
    </div>

    <div id="authentication-form" class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
       
        
      <div class="flex-1">
       
        <div class="text-center"> 

          <div class="text-4xl font-bold text-center text-gray-700">{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</div>
          {% if form.non_field_errors %}
          <div class="mt-3 text-xs text-red-800">
            {{form.non_field_errors}}            
          </div>
          {% endif %}
        </div>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="mt-8 text-gray-600">The password reset link was invalid, possibly because it has already been used.  Please request a <a class="underline text-[#40798C]" href="{{ passwd_reset_url }}">new password reset</a></p>
        {% else %}

        <div class="mt-8">
          <form method="POST" action="{{ action_url }}">
            {% csrf_token %}

            <div class="mt-6">
              <div class="flex justify-between mb-2">
                <label
                  for="password"
                  class="text-sm text-gray-600"
                  >New Password</label
                >
              </div>
              {% if form.errors %}
              <div class="-mt-2 text-xs text-red-800">
                {{form.password1.errors}}            
              </div>
              {% endif %}

              <input
                type="password"
                name="password1"
                id="password"
                placeholder="New password"
                class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-[#40798C] focus:ring-[#40798C] focus:outline-none focus:ring focus:ring-opacity-40"
              />
            </div>
            <div class="mt-6">
              <div class="flex justify-between mb-2">
                <label
                  for="password"
                  class="text-sm text-gray-600"
                  >Re-type Password</label
                >
              </div>
              {% if form.errors %}
              <div class="-mt-2 text-xs text-red-800">
                {{form.password2.errors}}            
              </div>
              {% endif %}

              <input
                type="password"
                name="password2"
                id="password"
                placeholder="Re-type password"
                class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-[#40798C] focus:ring-[#40798C] focus:outline-none focus:ring focus:ring-opacity-40"
              />
            </div>

            <div class="mt-6">
              <button
                class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-[#1F363D] rounded-md hover:bg-[#40798C] focus:outline-none focus:[#40798C] focus:ring focus:ring-[#40798C] focus:ring-opacity-50"
              >
                Change password
              </button>
            </div>
          </form>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
