{% extends 'base.html' %} {% block content %}

<div class="bg-white">
  <div class="flex justify-center h-screen">
    <div
      class="hidden bg-cover lg:block lg:w-2/3"
      style="
        background-image: url(https://images.unsplash.com/photo-1604881989793-466aca8dd319?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
      "
    >
      <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
        <div>
          <h2 class="text-4xl font-bold text-white">Chatapp-demo</h2>

          <p class="max-w-xl mt-3 text-white underline">
            This is a demo chatting app, you can chat to anyone who is
            registered in the site. To try it please register a dummy account.
          </p>
        </div>
      </div>
    </div>

    <div
      id="authentication-form"
      class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6"
    >
      <div class="flex-1">
        <div class="text-center">
          <h2 class="text-4xl font-bold text-center text-gray-700">
            Password reset
          </h2>

          <p class="mt-3 text-gray-500">
            We have sent you an e-mail. If you have not received it please check
            your spam folder. Otherwise contact us if you do not receive it in a
            few minutes.
          </p>

          <p class="mt-6 text-sm text-center text-gray-400">
            Proceed to
            <a
              href="{% url 'account_login' %}"
              class="text-[#40798C] focus:outline-none focus:underline hover:underline"
              >Sign in</a
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
