<form
    hx-post="{% url 'chat:username' pk=request.user.pk %}"
    hx-swap="innerHTML"
    hx-target="#username-edit"
   
>

    {% if form.errors %}
        <div class="mb-1 text-xs text-red-500">{{form.username.errors}}</div>
    {% endif %}

    <input 
        name="username"
        class="rounded-sm focus:ring-0 focus:border focus:border-[#70A9A1] w-[100%] text-xs py-1"
        type="text"
        placeholder="{{user.username|title}}"
    >

  <div class="flex items-center justify-end mt-2 space-x-2">

    <button 
      hx-get="{% url 'chat:htmx_edit_username_cancel' %}"
      hx-target="#username-edit"
      hx-trigger="click"
      hx-swap="innerHTML"
      x-on:click="open=true"
      class="w-auto cursor-pointer text-xs py-1 px-2 border border-[#70A9A1] hover:bg-[#70A9A1] rounded-sm hover:text-white"
    >
      Cancel
    </button>

    <button
        type="submit"
        class="transition ease-in-out w-auto cursor-pointer text-xs py-1 px-2 border border-[#70A9A1] hover:bg-[#70A9A1] rounded-sm hover:text-white"
    >
      Submit
    </button>
    
  </div>
  
</form>


