<!--left pane-->
<div class="w-full h-screen p-2 overflow-auto border sm:w-72 border-x-gray-400">
  <!--profile avatar-->
  
  <div class="flex items-center justify-between sm:flex ">
    <a class="flex space-x-2 transition ease-in-out hover:text-gray-500 py-1 px-2 hover:bg-gray-300 text-gray-700" href="{% url 'chat:index' %}">
      <div class="w-12 h-12 overflow-hidden rounded-full">
        <img src="{{request.user.profile.avatar.url}}" alt="user-avatar" />
      </div>
      <div class="flex items-center sm:flex sm:items-center">
        {{request.user.username|title}}
      </div>
    </a>
    <form method="POST" action="{% url 'account_logout' %}">
      {% csrf_token %}
      <div x-data="{open:false}" class="relative flex items-center">
        
        <div class="cursor-pointer transition ease-in-out hover:bg-gray-300 fill-gray-700 hover:fill-gray-500">
          <svg x-on:click="open=!open" x-on:click.outside="open=false"
            class="w-8 h-8"
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
          </svg>
        </div>
        
        <div class="absolute z-30 flex flex-col items-start w-20 overflow-hidden text-gray-700 bg-white rounded-md shadow-md right-1 top-8" x-show="open">
          <a href="{% url 'chat:profile' username=request.user.username %}" class="transition ease-in-out flex justify-center w-full py-2 hover:text-white hover:bg-[#40798C]">Profile</a>
          <button type="submit" class="w-full py-2 hover:text-white hover:bg-[#40798C] transition ease-in-out">Logout</button>
        </div>
      </div>
    </form> 
    
  </div>
  
  <div class="pt-2 mt-2 text-center text-gray-600 border-t-2 border-gray-700">
    List of registered users
  </div>

  <!--contacts-->
  <div class="mt-5">
    {% for user in users %}

    <p
      id="status{{user.id}}"
      data-active="{{user.id}}"
      class="{% if user.profile.is_online %}bg-green-500{% else %}bg-gray-500{% endif %} absolute p-1.5 rounded-full z-10 border-white border-2"
    ></p>

    <a href="{% url 'chat:chat' username=user.username %}">
      <div
        id="count{{user.id}}"
        class="transition ease-in-out relative flex items-center justify-between hover:text-white text-gray-700 hover:bg-[#70A9A1] hover:ring-[#70A9A1] hover:ring-1 mb-2 {% if forloop.counter|divisibleby:2 %}bg-gray-100 rounded-md{% else %}bg-gray-200 rounded-md{% endif %}"
      >
        {% for user_count in users_count %}
          {% if user.username == user_count.username %}
            {% if user_count.count > 0 %}
        <p
          id="hey{{user.id}}"
          class="absolute z-20 px-2 py-1 text-xs font-semibold text-white bg-red-600 border-4 border-white rounded-full -right-1 -top-2"
        >
          {{ user_count.count }}
        </p>
            {% endif %} 
          {% endif %} 
        {% endfor %}
        <div class="flex items-center space-x-2">
          <div class="relative w-12 h-12 overflow-hidden rounded-full">
            <img src="{{user.profile.avatar.url}}" alt="user-avatar" />
          </div>
          <div class="flex items-center sm:flex sm:items-center">
            {{user.username|title|truncatechars:13}}
          </div>
        </div> 
        
      </div>
    </a>
        

    {% endfor %}
  </div>
</div>
