<!--right pane-->
<div class="flex flex-col h-screen overflow-hidden border border-r-gray-400">
  <!--content-->
  <div
    class="relative flex items-center p-2 space-x-2 bg-gray-100 border h-18 border-b-gray-400"
  >
    <a href="{% url 'chat:index' %}">
      <div class="cursor-pointer sm:hidden">
        <svg
          class="w-4 h-4 transition ease-in-out fill-gray-700 hover:fill-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M3.828 9l6.071-6.071-1.414-1.414L0 10l.707.707 7.778 7.778 1.414-1.414L3.828 11H20V9H3.828z"
          />
        </svg>
      </div>
    </a>
    <a class="flex items-center px-2 py-1 space-x-2 text-gray-700 transition ease-in-out hover:bg-gray-300 hover:text-gray-900" href="{% url 'chat:profile' username=username %}">
      <div class="w-12 h-12 overflow-hidden rounded-full">
        <img src="{% if user.profile.avatar.url is not null %}
                    {{user.profile.avatar.url}}
                  {% else %}
                    https://res.cloudinary.com/derqjgcyg/image/upload/v1645411542/media/avatar/default_rvyiey.jpg
                  {% endif %}" alt="user-avatar" />
      </div>
      <p class="text-sm">{{username|title}}</p>
    </a>
  </div>

  <!--message-->
  <div class="h-full p-2 overflow-auto">
    <!--parent of the list-->
    <ul id="chat-log" class="flex flex-col space-y-3 text-sm">
      <li class="hidden"></li>
      {% for message in messages reversed %}
      <!--list-->
      <li
        class="{% if message.sender.id == request.user.id %}flex flex-col items-end{% endif %}"
      >
        <!--div wrapper of img div and div for message-->
        <div class="flex space-x-2">
          {% if message.sender.id != request.user.id %}
          <!--div for img-->
          <div class="flex-none w-8 h-8 overflow-hidden rounded-full">
                <img src="{% if username.profile.avatar.url is not null %}
                    {{username.profile.avatar.url}}
                  {% else %}
                    https://res.cloudinary.com/derqjgcyg/image/upload/v1645411542/media/avatar/default_rvyiey.jpg
                  {% endif %}" 
                  alt="user-avatar" />
          </div>
          {% endif %}
          <!--div message-->
          <div
            class="overflow-hidden flex rounded-3xl text-sm py-2 px-4 {% if message.sender.id == request.user.id %}bg-[#70A9A1]{% else %}bg-[#9EC1A3]{% endif %}"
          >
            <!--p tag for message-->
            <p
              class="text-sm {% if message.sender.id == request.user.id %}text-gray-900{% else %}text-black{% endif %}"
            >
              {{message.message}}
            </p>
          </div>
        </div>
        <!--div for timestamp-->
        <div class="mt-2 text-xs">{{message.timestamp}}</div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="flex w-full">
    <input
      id="chat-message-input"
      class="w-full pl-2 text-sm border-x-0 focus:border-gray-500 focus:ring-0"
      type="text"
      placeholder="Write you message"
    />
    <button
      onclick="message()"
      id="chat-message-submit"
      class="p-2 text-sm hover:text-gray-900 bg-[#0a5e7c] hover:bg-[#40798C] rounded-sm transition ease-in-out text-gray-200"
    >
      send
    </button>
  </div>
  <p id="user-avatar" class="hidden">
    {% if user.profile.avatar.url is not null %}
      {{user.profile.avatar.url}}
    {% else %}
      https://res.cloudinary.com/derqjgcyg/image/upload/v1645411542/media/avatar/default_rvyiey.jpg
    {% endif %}
    </p>
</div>
